// Colors

$white: #fff;
$black: #000;
$gray: #E8E8E8;
$gray-2: #808080;
$main-green: #32D74B;
$gray-3: #868A90;
$gray-4: #595959;

/// Font-size
$fz-10: 0.625em;
$fz-12: 0.750em;
$fz-14: 0.875em;
$fz-16: 1.000em;
$fz-18: 1.125em;
$fz-20: 1.250em;
$fz-22: 1.375em;
$fz-24: 1.500em;
$fz-32: 2.000rem;
$fz-36: 2.250em;
$fz-52: 3.250em;
$fz-54: 3.375em;




/// Breakpoints
$w1920px: 1920px;
$w1440px: 1440px;
$w1366px: 1366px;
$w1280px: 1280px;
$w1200px: 1200px;
$w1170px: 1170px;
$w1024px: 1024px;
$w1023px: 1023px;
$w996px: 996px;
$w768px: 768px;
$w767px: 767px;
$w480px: 480px;
$w320px: 320px;
